  body{
  background-color: lightgreen;
  }
  h2{
    color: aqua;
  }
  p{
    color:lightcoral;
  }
  img{
    height:70%;
    width:70%;
  }
  










/* body{
  background-color: lightgreen;
}
h2.intro{
  color: aqua;
}
p.intro{
  color:lightcoral;
}
img.intro{
  height:70%;
  width:70%;
} */