  body{
  background-color: lightgreen;
  }
  .jumbotron{
    text-align:center;
    background-color: darkcyan;
    color: white;
  }
  h2{
    color: aqua;
  }
  p{
    color:lightcoral;
  }
  img{
    height:70%;
    width:70%;
  }
  .container{
    text-align: center;
    font-family: georgia;
   margin-bottom: 50px;
  }